// глобальные стили
$mainColor: #695F4E;
$secondColor: #53419A;


// подключение шрифтов
%playfair {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 400;
}

%roboto-light {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

%roboto-medium {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}
